.blue{
color: blue;
}
.green{
color: green;
}
.red{
color: red;
}
.yellow{
color: #996e00;
}
.silver{
color: silver;
}
.black{
color: black !important;
}
.white{
color: white !important;
}